In [8]:
import pandas as pd
course_name = ['Data Science', 'Machine Learning', 'Big Data', 'Data Engineer']
duration = [2,3,6,4]
df = pd.DataFrame(data = {'course_name' : course_name, 'duration' : duration})
df

        course_name  duration
0      Data Science         2
1  Machine Learning         3
2          Big Data         6
3     Data Engineer         4

# Answer1:

In [35]:
df.loc[1]

course_name    Big Data
duration              6
Name: 1, dtype: object

# Answer2:
The main distinction between the two methods is: loc gets rows (and/or columns) with particular labels. iloc gets rows (and/or columns) at integer locations.

# Answer3

In [30]:
df.index=[3,0,1,2]
new_df=df
new_df

        course_name  duration
3      Data Science         2
0  Machine Learning         3
1          Big Data         6
2     Data Engineer         4

In [31]:
new_df.loc[2]

course_name    Data Engineer
duration                   4
Name: 2, dtype: object

In [32]:
new_df.iloc[2]

course_name    Big Data
duration              6
Name: 1, dtype: object

By using new_df.loc[2] the 4th row is printed because loc takes the index 2 and by new_df.iloc[2] the 3rd row is printed because iloc takes the index according to the order arranged.

In [37]:
import pandas as pd
import numpy as np
columns = ['column_1', 'column_2', 'column_3', 'column_4', 'column_5', 'column_6']
indices = [1,2,3,4,5,6]
#Creating a dataframe:
df1 = pd.DataFrame(np.random.rand(6,6), columns = columns, index = indices)
df1

   column_1  column_2  column_3  column_4  column_5  column_6
1  0.784753  0.838818  0.531067  0.715580  0.359509  0.678426
2  0.619819  0.458629  0.504482  0.196850  0.912272  0.791145
3  0.699269  0.249084  0.412820  0.971614  0.994631  0.774532
4  0.503265  0.501331  0.716245  0.209581  0.726382  0.448726
5  0.050434  0.965564  0.585621  0.629543  0.133440  0.071927
6  0.043762  0.837583  0.201625  0.821187  0.654702  0.817748

# Answer4:

In [43]:
df1.mean()

column_1    0.450217
column_2    0.641835
column_3    0.491977
column_4    0.590726
column_5    0.630156
column_6    0.597084
dtype: float64

In [44]:
df1['column_2'].std()

0.27909820830920473

# Answer5:

In [49]:
df1.loc[2]='subh'
df1

   column_1  column_2  column_3  column_4  column_5  column_6
1  0.784753  0.838818  0.531067   0.71558  0.359509  0.678426
2      subh      subh      subh      subh      subh      subh
3  0.699269  0.249084   0.41282  0.971614  0.994631  0.774532
4  0.503265  0.501331  0.716245  0.209581  0.726382  0.448726
5  0.050434  0.965564  0.585621  0.629543   0.13344  0.071927
6  0.043762  0.837583  0.201625  0.821187  0.654702  0.817748

In [51]:
df1['column_2'].mean()

TypeError: unsupported operand type(s) for +: 'float' and 'str'

The type error is raised because the mean operation is cannot perform on a string and float values

# Answer6:

Windows function in Pandas can be broadly divided into three categories namely- Aggregate, Ranking, and Value. The group by aggregate function can be used to partition and group the entire data frame by some column. We can specify the column name in the parameter of the pandas.

pandas supports 4 types of windowing operations:

1.Rolling window: Generic fixed or variable sliding window over the values.

2.Weighted window: Weighted, non-rectangular window supplied by the scipy.signal library.

3.Expanding window: Accumulating window over the values.

4.Exponentially Weighted window: Accumulating and exponentially weighted window over the values.

# Answer7:

In [52]:
from datetime import date
  
todays_date = date.today()

print("Current date: ", todays_date)
  
print("Current year:", todays_date.year)
print("Current month:", todays_date.month)
print("Current day:", todays_date.day)

Current date:  2023-02-26
Current year: 2023
Current month: 2
Current day: 26

# Answer8:

In [22]:
def diffdate(d1,d2):
    time1 = pd.Timedelta(days =d1.day , hours = d1.hour , minutes = d1.minute)
    time2 = pd.Timedelta(days =d2.day , hours = d2.hour , minutes = d2.minute)
    print(abs(time2-time1))

In [ ]:
d1=input("enter the first date YYYY-MM-DD")
d2=input("enter the first date in YYYY-MM-DD")
diffdate(pd.to_datetime(d1), pd.to_datetime(d2))

# Answer9:

In [9]:
def cato(fp,col,order):
    data=pd.read_csv(fp) 
    cate=data[col]
    cat=pd.Categorical (cate)
    flag=True
    if ( order=='decending'):
        flag=False
    cat.sort_values (ascending=flag)

In [ ]:
fp=input("enter the file path")
col=input('enter th column')
order=input("enter ascending or decending order")

cato(fp ,col ,order)

# Answer11:

In [ ]:
def calci(fp):
    data=pd.read_csv(fp)
    x1=data['Test_Score'].mean()
    x2=data['Test_Score'].median()
    x3=data['Test_Score'].mode()
    return pd.DataFrame({"Statistic":["Mean","Medain","Mode"],"Value":[x1,x2,x3]})

In [ ]:
filepath=input("enter the path")
calci(filepath)